<div class="Body">
    <img style="float: left;" src="/img/download.jpg" width="200" height="200" alt="product_image">
    <div style="text-align: left; margin-left: 300px;">
        <h2>Name : {{product.name}}</h2>
        <h4>Price : {{product.price}}</h4>
        <p>Description : {{product.description}}</p>
    </div>
</div>